body{
  font: 1em/1.4 Sans-serif
  margin: 0
  padding: 0
}
main{  
  display: flex
  margin: 2em 0 0 2em
  width: calc(100vw - 4em)
  height: calc(100vh - 4em)

}
main div{
  display: flex
  align-items: center
  justify-content: center

}
.acrylic{
  flex: 1
  position: relative
  overflow: hidden
}

.acrylic::before{
  content: ''
  position: absolute
  left: -8px
  top: -8px
  right: -8px
  bottom: -8px
  z-index: -1
  background-blend-mode: exclusion
  filter: blur(8px)
  -webkit-filter: blur(8px)
  filter: url(#blur)
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='8')
}
.acrylic::after{
  content: ''
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: -1
  box-shadow: 0 0 3px rgba(#000, .1)
  background-color: rgba(#fff, .8)
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=a0a0a0&density=35&opacity=10')

}
.acrylic.medium::after{
  background-color: rgba(#fff, .1)
}
.shadow{
  box-shadow: 0 0 1px rgba(#000, .25), 0 1px 8px rgba(#000, .25), 0 10px 30px rgba(#000, .1)
}